
.table {
    width: 580px;
	display: table;
    margin: 0px auto;
    text-align: left;
}

.center{
	text-align: center;
}


@media (min-width: 1200px) {
    .col-lg-6 {
        width: 35%;
        margin-left: 10%;
    }
}
