<!DOCTYPE html>
<html ng-app="grades">
    <head>
        <meta charset="UTF-8">
        <title> App Grades </title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body ng-controller="appCtrl" ng-init="init()">
        <div class="page-header center">
			<h1>Shenkar Students Grades App</h1>
		</div>
        <div class="panel">
            <table class="table table-striped">
               <thead>
                   <tr>
                       <th>Student Name</th>
                       <th>Student ID</th>
                       <th>Student Year</th>
                       <th>Student grade</th>
                   </tr>
               </thead>
               <tbody ng-repeat="student in students">
                   <tr>
                       <td>{{student.studentName}}</td>
                       <td>{{student.ID}}</td>
                       <td>{{student.Year}}</td>
                       <td>{{student.grade}}</td>
                   </tr>
               </tbody>
            </table>
        </div>
        <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="id" placeholder="Search by ID">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="getStudentById(id)">Search by id</button>
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="year" placeholder="Search by Year">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="getStudentByYear(year)">Search by year</button>
                </span>
            </div>
        </div>
        </div>
       <script src="js/lib/angular/angular.min.js"></script>
       <script src="js/appController.js"></script>
    </body>
</html>
